<div class="row">
  <div class="col-md-12">
    <content-panel title="Sign up">
      <div *ngIf="validationErrorMessage" class="alert alert-danger" role="alert">{{ validationErrorMessage }}</div>
      <form>
        <div class="form-group">
          Email: <input [value]="signupModel.Email" (change)="signupModel.Email = $event.target.value" type="text" class="form-control" />
        </div>
        <div class="form-group">
          Password: <input [value]="signupModel.Password" (change)="signupModel.Password = $event.target.value" type="password" class="form-control" />
        </div>
        <div class="form-group">
          FirstName: <input [value]="signupModel.FirstName" (change)="signupModel.FirstName = $event.target.value" type="text" class="form-control" />
        </div>
        <div class="form-group">
          LastName: <input [value]="signupModel.LastName" (change)="signupModel.LastName = $event.target.value" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" (click)="submitSignup()" value="Sign up!" />
        </div>
      </form>
    </content-panel>
  </div>
</div>
