 <div class="row">
  <div class="col-md-4">
    <div class="panel">
      <h5 class="panel-title">Kapitel</h5>
      <div class="panel-body">
        <div class="table-responsive">
                <table class="table" style="font-size: 14px;">
                  <tbody>
                    <tr>
                      <td>
                        Selecting Data
                      </td>
                      <td style="width: 150px;height: 1px;">
                        <div class="progress progress-xs margin-bottom-0">
                          <div class="progress-bar progress-bar-success bg-blue-600" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                          </div>
                        </div>
                      </td>
                      <td style="width:50px;">
                        90%
                      </td>
                    </tr>
                    <tr class="selected">
                      <td>
                        DML
                      </td>
                      <td style="width: 150px;height: 1px;">
                        <div class="progress progress-xs margin-bottom-0">
                          <div class="progress-bar progress-bar-danger bg-blue-600" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background: #555; width: 65%">
                          </div>
                        </div>
                      </td>
                      <td style="width:50px;">
                        65%
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
      </div>
    </div>
    <div class="panel">
      <h5 class="panel-title">Övningar</h5>
      <div class="panel-body">
        <table class="table" style="font-size: 14px;">
          <tr>
            <td>1.</td>
            <td style="width:90%">Selecting</td>
            <td><i class="fa fa-check" style="color: green;"></i></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Where</td>
            <td><i class="fa fa-check" style="color: green;"></i></td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Deleting data</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel">
      <h5 class="panel-title">Mission</h5>
      <div class="panel-body">
        To ensure winning you must have the best way to find.
        <table class="resultset">
          <tr>
            <th class="row-number"></th>
            <th>Name</th>
            <th>Group Name</th>
          </tr>
          <tr>
            <td class="row-number">1</td>
            <td>Engineering Department</td>
            <td>Research And Development</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel">
      <h5 class="panel-title">Query</h5>
      <div class="panel-body">
        <codemirror></codemirror>
        <br/>
        <button class="btn btn-info">Execute</button>
      </div>
    </div>
    <div class="panel">
      <div class="panel-status text-success">
        <i class="fa fa-check" style="font-size: 22px;color: green;"></i>
      </div>
      <h5 class="panel-title">Resultset</h5>
      <div class="panel-body">
        <table class="resultset no-margin">
          <tr>
            <th class="row-number"></th>
            <th>Name</th>
            <th>Group Name</th>
          </tr>
          <tr>
            <td class="row-number">1</td>
            <td>Engineering Department</td>
            <td>Research And Development</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
