<div class="row">
  <div class="col-md-4">
    <content *ngIf="chapters" title="Kapitel">
      <chapters [model]="chapters"></chapters>
    </content>
    <content *ngIf="exercises" title="Övningar">
      <exercises [model]="exercises"></exercises>
    </content>
  </div>
  <div class="col-md-8" *ngIf="exercise">
    <div class="panel">
      <h5 class="panel-title">Mission</h5>
      <div class="panel-body">
        {{ exercise.Mission }}
      </div>
    </div>
    <div class="panel">
      <h5 class="panel-title">Query</h5>
      <div class="panel-body">
        <codemirror></codemirror>
        <br/>
        <button style="font-family: Roboto" class="btn btn-success">Submit</button>
      </div>
    </div>
    <div class="panel">
      <div class="panel-status text-success">
        <i class="fa fa-check" style="font-size: 22px;color: green;"></i>
      </div>
      <h5 class="panel-title">Resultset</h5>
      <div class="panel-body">
        <table class="resultset no-margin">
          <tr>
            <th class="row-number"></th>
            <th>Name</th>
            <th>Group Name</th>
          </tr>
          <tr>
            <td class="row-number">1</td>
            <td>Engineering Department</td>
            <td>Research And Development</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
