/* Bootstrap overrides */
body {
	background: #E6F0F2 !important;
	color: #333;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-shadow: rgba(0, 0, 0, .15) 0 0 1px;
}

.navbar {
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}

.navbar .container {
	font-family: 'Roboto';
	margin-top: 0px;
}

.container {
	font-family: 'Georgia';
	margin-top: 70px;
}

.panel {
	margin-bottom: 22px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	position: relative;

	.panel-title {
			font-weight: 500;
	    color: #37474f;
	}
	.panel-title {
	    display: block;
	    padding: 20px 20px;
	    font-size: 18px;
	    color: #37474f;
	}
	.panel-title {
	    margin-top: 0;
	    margin-bottom: 0;
	    font-size: 16px;
	    color: inherit;
	}
}
